<img class="background-one" src="../../assets/background_one.png">
  <img class="background-two" src="../../assets/background_one.png">
  <img class="background-three" src="../../assets/background_one.png">
  <img class="background-four" src="../../assets/background_one.png">
  <img class="background-five" src="../../assets/background_one.png">
<div class="login-wrapper">
  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="form-label" for="email">
        Email:
      </label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-input"
        placeholder="Enter your email"
      />
    </div>

    <div class="form-group">
      <label class="form-label" for="password">
        Password:
      </label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-input"
        placeholder="Enter your password"
      />
    </div>

    <div class="input-group">
      <button
        type="submit"
        class="login-input"
      >
        Sign In
      </button>
    </div>
    <button
    type="button"
    class="go-to-register"
    routerLinkActive="active"
    (click)="navigateToRegisterPage()"
    >Haven't Got an Account ?</button>
  </form>
  <img class="wreath" src="../../assets/christmas-wreath.png">

</div>
