@font-face {
  font-family: 'christmas';
  src: url('../../assets/christmas.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.christmas-font{
  font-family: christmas;
}

.register-wrapper{
  display: flex;
  justify-content: center;
  text-align: center;

  .form-wrapper{
    form{

      .form-group{
        margin: 15px 5px;
        position: relative;
        label{
          margin-right: 10px;
          font-size: 1.5rem;
          font-family: christmas;
        }

        input{
          appearance: none;
          border: 3.5px solid #46db4b;
          border-radius: 15px;
          padding: 5px 15px;
          font-size: 1rem;
        }

      }


      button{
        appearance: none;
        margin-top: 1.5rem;
        font-size: 1.5rem;
        color: #f70505;
        padding: 3px 20px;
        border: 3.5px solid #46db4b;
        border-radius: 15px;
        background-color: #d1d1d1;
      }
    }
  }
}

.error-message{
  color: red;
  font-size: 1.5rem;
}

.snow-man{
  position: absolute;
  right: 100px;
  top: 10px;
}

.snow-globe{
  position: absolute;
  left: -37px;
  top: 59px;
}

.background-one{
  position:absolute;
  left: 0px;
}

.background-five{
  position:absolute;
  left: 80%;
}

.wreath{
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 150px;
}

