<div class="register-wrapper">
  <div class="form-wrapper" >

      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name" class="form-control" placeholder="Enter your name">
          <div class="error-message">
            Please enter a valid name.
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email">
          <div class="error-message">
            Please enter a valid email.
          </div>
        </div>

        <div class="form-group">
          <label class="form-label" for="password">Password:</label>
          <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password">
          <div class="error-message">
            {{getErrorMessage()}}
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm your password">
          <div *ngIf="registrationForm.get('confirmPassword').invalid && registrationForm.get('confirmPassword').touched" class="error-message">
            Passwords do not match.
          </div>
        </div>

        <button type="submit" class="register-btn">Submit</button>
      </form>

  </div>
</div>
